<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".db" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".db" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>

    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".db" />
          <add fileExtension=".db" allowed="true" />
          <remove fileExtension=".wasm" />
          <add fileExtension=".wasm" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <defaultDocument>
      <files>
        <clear />
        <add value="PaginaAlemedas/Portal.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
